.navbar{
    background-color: rgba(9, 207, 207, 0.822);
    margin-bottom: 1%;
    
  }

  .navbar-brand{
    margin-left: 1%;
    margin-right: 5%;
    color: black;
  }
  
  .nav-link{
    font-weight: 500;
 
  }
  .navbarSupportedContent{
      color: black;
  }
  